<!--============================================================================================================================-->
<!--Панель поиска-->
<!--============================================================================================================================-->

<div class="row">
    <div class="col-md-12">

        <search-panel></search-panel>

    </div>
</div>
<!--============================================================================================================================-->
<!--Блок загрузки элементов изображений-->
<!--============================================================================================================================-->


<div class="row margin-top" ng-repeat="image in data.images">

    <photo-user class="col-md-3"></photo-user>
    <photo-item class="col-md-6  press center-bg"></photo-item>

</div>
<!--============================================================================================================================-->
<!--Блок кнопки "Load more"-->
<!--============================================================================================================================-->
<div class="row margin-top">
    <div class="col-md-12" ng-controller="addMoreController">
        <button id="more-button" type="button" class="center-block btn btn-default" ng-show="data.images.length > 0"
                ng-click="addMore(text)">Load more...
        </button>
    </div>
</div>
