<!--========================================================================================================================-->
<!--Изображение-->
<!--========================================================================================================================-->

<div class="set-shadow image-block" xmlns="http://www.w3.org/1999/html">
    <div>
        <a href="#/photos/{{image.id}}">
            <img class="img-responsive" ng-src="{{image.images.standard_resolution.url}}">
        </a>
    </div>


    <!--========================================================================================================================-->
    <!--Панель лайков под картинкой-->
    <!--========================================================================================================================-->

    <div class="panel panel-default">

        <like-panel></like-panel>

        <!--========================================================================================================================-->
        <!--Панель описания-->
        <!--========================================================================================================================-->
        <div class="min-max-height-caption panel-body" ng-show="image.caption.text.length > 1">

            <div caption></div>

        </div>

        <!--========================================================================================================================-->
        <!--Панель комментариев-->
        <!--========================================================================================================================-->
        <comments-panel></comments-panel>
        <!--========================================================================================================================-->
        <!--Футер-панель для введения комментариев-->
        <!--========================================================================================================================-->
        <div class="panel-footer" ng-controller="addCommentCtrl">
            <form>
                <input class="form-control commentsField" type="text" ng-model="image.tempText"
                       placeholder="Write a comment..."/>
                <button type="submit" class="hidden-submit" value="submit"
                        ng-click="addComment(image,image.tempText)">
                </button>
            </form>
        </div>
    </div>
</div>
